@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@800&display=swap');
html,
body {
    height: 100%;
    background-color: rgb(28, 30, 31) !important;
    color: rgb(234, 242, 198) !important;
}

#logo {
    font-family: 'Lexend', sans-serif;
    -webkit-text-stroke: 2px rgb(234, 242, 198); /* width and color */
    color: rgba(255, 255, 255, 0);
    animation-name: logo_animation;
    animation-duration: 1s;
}

@keyframes logo_animation {
    from {padding-top: 80px; opacity: 0}
    to {padding-top: 0; opacity: 1}
}

@keyframes button_animation {
    from {opacity: 0}
    to {opacity: 1}
}

.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

a, .btn {
    border-radius: 50px !important;
    margin: 5px !important;
    animation: button_animation 1s both;
    animation-delay: 1s;
    padding: 5px !important;
    height: 30px;
    width: auto;
}

img {
    vertical-align: top !important;
}